apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-gateway
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: envoy-gateway
  template:
    metadata:
      labels:
        app: envoy-gateway
    spec:
      containers:
        - name: envoy
          image: envoyproxy/envoy:v1.25-latest
          args:
            - /usr/local/bin/envoy
            - -c
            - /etc/envoy/envoy-config.yaml
            - --service-node
            - envoy-gateway
            - --service-cluster
            - envoy-gateway
          ports:
            - containerPort: 80
            - containerPort: 9901
          volumeMounts:
            - name: envoy-config
              mountPath: /etc/envoy
      volumes:
        - name: envoy-config
          configMap:
            name: envoy-config
