apiVersion: apps/v1
kind: Deployment
metadata:
  name: envoy-gateway
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: envoy
  template:
    metadata:
      labels:
        app: envoy
    spec:
      containers:
        - name: envoy
          image: envoyproxy/envoy:v1.30-latest
          args:
            - /usr/local/bin/envoy
            - "-c"
            - "/etc/envoy/envoy.yaml"
            - "--log-level"
            - "info"
          ports:
            - containerPort: 80
          volumeMounts:
            - name: envoy-config
              mountPath: /etc/envoy/envoy.yaml
              subPath: envoy-config.yaml
      volumes:
        - name: envoy-config
          configMap:
            name: envoy-config
