name: CI/CD Deploy Microservices

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      KUBECONFIG: ${{ secrets.KUBECONFIG }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    # -------------------------------
    # Build + Push Docker images
    # -------------------------------
    - name: Login to DockerHub
      run: echo $DOCKERHUB_PASSWORD | docker login -u $DOCKERHUB_USERNAME --password-stdin

    - name: Build auth-service Docker image
      run: docker build -t $DOCKERHUB_USERNAME/auth-service:latest ./auth-service

    - name: Push auth-service image
      run: docker push $DOCKERHUB_USERNAME/auth-service:latest

    - name: Build order-service Docker image
      run: docker build -t $DOCKERHUB_USERNAME/order-service:latest ./order-service

    - name: Push order-service image
      run: docker push $DOCKERHUB_USERNAME/order-service:latest

    - name: Build frontend Docker image
      run: docker build -t $DOCKERHUB_USERNAME/frontend:latest ./frontend

    - name: Push frontend image
      run: docker push $DOCKERHUB_USERNAME/frontend:latest

    # -------------------------------
    # Setup kubectl
    # -------------------------------
    - name: Setup kubectl
      uses: azure/setup-kubectl@v3
      with:
        version: v1.33.6

    - name: Configure Kubeconfig
      env:
        KUBECONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64 }}
      run: |
        mkdir -p $HOME/.kube
        echo "$KUBECONFIG_BASE64" | base64 --decode > $HOME/.kube/config
        chmod 600 $HOME/.kube/config

    - name: Test kubectl connectivity
      run: |
        kubectl version --client=true
        kubectl get nodes || true

    # -------------------------------
    # Deploy resources
    # -------------------------------
    - name: Deploy MySQL
      run: kubectl apply -f ./k8s/mysql.yaml

    - name: Deploy auth-service
      run: kubectl apply -f ./k8s/auth.yaml

    - name: Deploy order-service
      run: kubectl apply -f ./k8s/order.yaml

    - name: Deploy frontend
      run: kubectl apply -f ./k8s/frontend.yaml

    - name: Deploy API Ingress
      run: kubectl apply -f ./k8s/main-ingress.yaml

    - name: Deploy Frontend Ingress
      run: kubectl apply -f ./k8s/frontend-ingress.yaml

    - name: Deploy Kong JWT Plugin
      run: kubectl apply -f ./k8s/kong-jwt-plugin.yaml

    - name: Deploy Kong Auth Route + Service
      run: kubectl apply -f ./k8s/kong-auth.yaml

    - name: Deploy Kong Order Route + Service
      run: kubectl apply -f ./k8s/kong-order.yaml

    - name: Deploy metallb
      run: kubectl apply -f ./k8s/metallb-pool.yaml

    # Deploy envoy gateway
    - name: Deploy Envoy ConfigMap
      run: kubectl create configmap envoy-config --from-file=k8s/envoy-gateway/envoy-config.yaml -o yaml --dry-run=client | kubectl apply -f -

    - name: Deploy Envoy Deployment
      run: kubectl apply -f k8s/envoy-gateway/deployment.yaml

    - name: Deploy Envoy Service
      run: kubectl apply -f k8s/envoy-gateway/service.yaml

    - name: Deploy Envoy Ingress
      run: kubectl apply -f k8s/envoy-gateway/ingress.yaml
